$red-btn: rgb(200, 0, 0);
$grey-btn: rgb(150, 150, 150);

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.main-container {
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 10vh auto;
}
.btn {
  border-radius: 10px;
  font-size: 12px;
  margin: auto 0;
  color: white;
  border: none;
    &:hover {
      cursor: pointer;
    }
}
.btn-add-container {
  display: flex;
}
.btn-primary {
  width: 100px;
  height: 50px;
}
.btn-secondary {
  width: 70px;
  height: 35px;
}
.btn-add {
  background-color: green;
}
.btn-red{
  background-color: $red-btn;
}
.btn-edit {
  background-color: $grey-btn;
}
.btns-edit-delete {
  margin: 5px 0 5px 10px;
}
.bookmark-list {
  list-style: none;
  padding: 0;
}
.bookmark {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.bookmark-anchor {
  margin: auto 0;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.bookmark-btns {
  display: flex;
}
.add-bookmark-form-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
  position: absolute;
  top: 0;
  justify-content: center;
}
.form {
  margin: auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    margin: -20% auto 5% auto;
    color: white;
    font-size: 20px;
  }
  input {
    font-size: 16px;
    text-align: center;
  }
}
.form-btns {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 20px 10px;
  }
}
